/* You can add global styles to this file, and also import other style files */
@import 'variables';

html{
	font-size:14px;
	@media only screen and (min-width:768px){
		font-size: 15px;
	}
	@media only screen and (min-width:991px){
		font-size: 16px;
	}
}
body{
	font-family: $subheading-font, sans-serif;
	font-weight:300;
	line-height: 1.5;
}
@for $index from 1 through 6 {
  h#{$index}{
    line-height: 1.5;
    font-weight: normal;
    margin-bottom: 0;
  }
}
section{
	padding: 40px 0;
	@media only screen and (min-width:768px){
		padding: 50px 0;
	}
	@media only screen and (min-width:991px){
		padding: 60px 0;
	}
	@media only screen and (min-width:768px){
		padding: 70px 0;
	}
}
.section-heading{
	font-family: $heading-font;
	font-weight: 600;
	color: $heading-color;
	font-size: 1.7rem;
}
.section-subheading{
	color: $desc-text-color;
	font-size: 1rem;
	font-weight: 300;
}
.primary-btn{
	background-color:#998675;
	color: #fff;
	font-family: $heading-font;
	font-size: 15px;
	border:none;
	box-shadow: 0 2px 0 #615246;
	font-weight: 600;
	padding: 10px 20px;
}
@media only screen and (min-width:1300px){
	.container{
		width: 1230px;
	}
}
